.help-block{
  color: red !important;
}
 /*.topspacing{
  margin-top: 50px;
 }*/
 .marginless{
  margin-top:60px;
  background-color: #FFF;
  /*background-image:url(../img/banner.jpg);*/
  min-height: 10px;
      }

/* with links next to footer*/
.panel-backi{
  background-color: #FF0000; !important;
}
.panel-heit{
  min-height:300px;
  overflow-y: none;
  width: 100%;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}
.marginles{
  padding: 50px;
  color:#000000;
}
.marginles a,
.marginles p{
  color:#FFF;
}
.marginles a:hover
{
  color:#ADD8E6;
  text-decoration:none; 
}
/* footer*/
.kifooter{
  background-color:#000000;
  color:#FFF;
  min-height:50px;
  overflow-y: none;
  width: 100%;
  padding:15px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  }

/* ==========================================================================
   Navbar Styles
   ========================================================================== */
   
.navbar {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  background: #000000;
  float:none;
  text-align: center;
  vertical-align: middle;
  -webkit-transition: padding .3s;
  -moz-transition: padding .3s;
  transition: padding .3s;
}

.navbar .nav li {
  color: #FFFFFF !important;
  background: black !important;
}

.navbar .nav li a {
  color: #FFFFFF !important;
  font-size: 12px;
}

.navbar .nav li a i{
  color: #FFFFFF;
  font-size: 12px;
}

.navbar .nav li .user {
  color: #FFFFFF;
  font-size: 12px;
  border-left: 2px solid #ADD8E6;
}

.navbar .nav li .user:hover {
  background: red;
  color: #FFFFFF;
}



.navbar .navbar-nav {
  letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
  outline: 0;
}

.navbar-default,
.navbar-inverse {
  border: 0;
}

.navbar .navbar-nav li a:hover {
  color: #fff;
  background: red;
}



.navbar-right > li > a {
  color: #FFF !important;
  margin-left: 5px;
  padding: 10px 17px !important;
}

.regheader {
    background-color: green;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #FFF;
}
.regbody {
    background-color: #ADD8E6;
    padding: 15px;
}
/* footer*/
.kifooter{
  background-color:#000000;
  color:#FFF;
  min-height:50px;
  overflow-y: none;
  width: 100%;
  padding:15px;
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  margin-top: 10px;
  }

  .table-responsive-force {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #DDD;
    -webkit-overflow-scrolling: touch;
  }

  .contained_table{
    width: 100%;
    overflow-x: auto;
  }

.table-border td,.table-border th{
  border: 0px !important;
}
